# Pytest
*.pytest_cache

# pycache
*__pycache__*

# Packages
*.egg
*.egg-info
.idea
.idea/
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

.streamlit
.streamlit/
.metaflow
.metaflow/
.ipynb_checkpoints
